doctype html
html(ng-app='app')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title= title
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css')
    link(rel='stylesheet' href='/stylesheets/angular-notify.min.css')
    link(rel='stylesheet' href='/stylesheets/angular-block-ui.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(class='navbar navbar-inverse navbar-fixed-top' role='navigation')
      div(class='container')
        div(class='navbar-header')
          button(type='button', class='navbar-toggle collapsed', data-toggle='collapse', data-target='.navbar-collapse')
            span(class='sr-only') Toggle navigation
            span(class='icon-bar')
            span(class='icon-bar')
            span(class='icon-bar')
          a(class='navbar-brand', href='#')= title
        div(class='collapse navbar-collapse')
          ul(class='nav navbar-nav')
            li(class='#{activePage==="root" ? "active" : ""}')
              a(href='/') Home
            li(class='#{activePage==="config" ? "active" : ""}')
              a(href='config') Config

    block content

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular.min.js')
    script(src='/javascripts/angular-notify.min.js')
    script(src='/javascripts/angular-block-ui.min.js')
    script(src='/javascripts/controllers.js')
