extends layout

block content
  div(class='container' ng-controller='homeCtrl')
    div(ng-repeat='alarm in alarms')
      div(class='panel panel-default' block-ui='{{alarm.id}}')
        div(class='panel-heading')
          h3(class='panel-title') {{alarm.name}}
        div(class='panel-body')

          div(class='clearfix')
            h4(class='pull-left') State:
            div(class='btn-group pull-right')
              button(type='button', class='btn btn-success', ng-click='toggle(alarm.name, alarm.enabled, true)', ng-class='alarm.enabled ? "active" : ""') Enabled
              button(type='button', class='btn btn-danger', ng-click='toggle(alarm.name, alarm.enabled, false)' ng-class='alarm.enabled ? "" : "active"') Disabled

          div(class='panel panel-info', style='margin-top: 25px;' block-ui='captureBlock')
            div(class='panel-heading clearfix')
              h3(class='panel-title pull-left', style='padding-top: 7.5px;') Camera
              button(type='button' class='btn btn-info pull-right', ng-click='capture(alarm.name)') Refresh
            div(class='panel-body')
              img(class='img-responsive', alt='Press refresh to capture', ng-src='{{alarm.image}}' style='border:none;')
